{% include 'tubby-cares-commitment-heading' %}

<div class="container contain-width-80">
	<div class="row row-lg text-center">
		{% if section.settings.product_cert != blank %}
			<img src="{{ section.settings.product_cert | img_url: '300x' }}" alt="{% if section.settings.product_cert.alt != '' %}{{ section.settings.product_cert.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}" style="max-width: 150px;" class="mini-margin-top mini-margin-bottom">
		{% endif %}
		{% if section.settings.intro != '' %}
			<div class="text-extra-large margin-top margin-bottom">
				{{ section.settings.intro }}
			</div>	
		{% endif %}
		{% if section.settings.highlighted_text != '' %}
			<div class="text-extra-large bold padding-top">
				{{ section.settings.highlighted_text }}
			</div>	
		{% endif %}
	</div>
</div>	
{% for block in section.blocks %}
	<div class="simple-image-text-module container-wrap featured-product" data-section-type="rich-text">
		<div class="container">
			<div class="row row--split row-med padding" style="background-color: {{ block.settings.bg_color }};">
				{% if block.settings.image_location == 'left' %}
					<div class="image no-padding-right">
						<a href="{{ block.settings.image | img_url: '1024x' }}" class="collection-image-lightbox">
							<img src="{{ block.settings.image | img_url: '1024x' }}" alt="{% if block.settings.image.alt != '' %}{{ block.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}" class="row--split-feat-image">
						</a>
					</div>
				{% endif %}
				<div class="rich-content no-button align--left lg_align--left padding">
					<div class="max-width">
						{% if block.settings.title != blank %}
							<h2 class="size--xlarge text-bold">{{ block.settings.title }}</h2>
						{% endif %}
						<div class="extra-large" style="text-align:center;">
							<p>{{ block.settings.text | newline_to_br }}</p>
						</div>
					</div>
				</div>
				{% if block.settings.image_location == 'center' %}
					<div class="image no-padding-left">
						<a href="{{ block.settings.image | img_url: '1024x' }}" class="collection-image-lightbox">
							<img src="{{ block.settings.image | img_url: '1024x' }}" alt="{% if block.settings.image.alt != '' %}{{ block.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}

{% if section.settings.banner_text != '' %}
	<div class="page-title extra-padding-top extra-margin-bottom">
		<div class="{% if section.settings.banner_contain %}container max-width-1000{% endif %}">
          <p>{{section.settings.banner_intro}}</p>
		  	<div class="page-title__text rte text-extra-large extra-margin-bottom">
					<div class="banner-text text-large text-bold {% if section.settings.banner_padding %}extra-{% endif %}padding-top {% if section.settings.banner_padding %}extra-{% endif %}padding-bottom">{{ section.settings.banner_text | newline_to_br }}</div>
				</div>
		</div>        
	</div>
{% endif %}

<style>
	.commitment-3 {
		background: {{ section.settings.bg_color }};
	}
  
     .banner-text {
		background: {{ section.settings.banner_color }};
		color: #ffffff;
	}

</style>	

{% schema %}
{
  "name": "Commitment 3",
	"class": "commitment-3",
  "settings": [
		{
	    "type": "image_picker",
	    "id": "icon",
	    "label": "Heading icon"
	  },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
			"info": "Displays above heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
{
      "type": "textarea",
      "id": "intro",
      "label": "Intro text"
    },
{
      "type": "textarea",
      "id": "highlighted_text",
      "label": "Highlighted text",
			"info": "Displays large and bold"
    },
		{
	    "type": "image_picker",
	    "id": "divider",
	    "label": "Divider image"
	  },
		{
		   "type": "header",
		   "content": "Colors"
		},
		{
      "type": "color",
      "id": "bg_color",
      "label": "Section background color",
      "default": "#ffffff"
    },
		{
      "type": "color",
      "id": "color",
      "label": "Heading color",
      "default": "#000000"
    },
 {
      "type": "textarea",
      "id": "banner_text",
      "label": "Banner text",
	  "info": "Text with fullwidth background color"
    },
  {
      "type": "color",
      "id": "banner_color",
      "label": "Banner text background color",
      "default": "#81c2d4"
    },
   {
      "type": "textarea",
      "id": "banner_intro",
      "label": "Intro text"
    },
    {
      "type": "checkbox",
      "id": "banner_padding",
      "label": "Add padding to banner text?",
      "default": false
    }
  ],
	"blocks": [
		{
      "type": "text",
      "name": "Content Block",
      "settings": [
				{
        	"type": "text",
        	"id": "title",
        	"label": "Title"
       	},
				{
				   "type": "richtext",
				   "id": "text",
				   "label": "Text"
				},
				{
			    "type": "image_picker",
			    "id": "image",
			    "label": "Image"
			  },
				{
				   "type":      "color",
				   "id":        "bg_color",
				   "label":     "Background color",
				   "default":   "#f4d2b9"
				},
				{
				   "type": "select",
				   "id": "image_location",
				   "label": "Image location",
				   "options": [
				     {
				       "value": "left",
				       "label": "Left"
				     },
				     {
				       "value": "center",
				       "label": "Center"
				     }
				   ],
				   "default": "left",
				   "info": "Default location is left"
				}
			]
		}	
	]
}
{% endschema %}