<div class="no-margin extra-padding-top" style="background: {{ section.settings.bg_color }}; position:relative;">
	{% if section.settings.accent-image %}
		<div class="accent-image"></div>
	{% endif %}
	{% if section.settings.title != '' or section.settings.intro != '' %}
		<div class="page-title extra-margin-bottom">     
			<div class=" container contain-width-80">
				<div class="row row-lg padding-top">      
			  	<h2 class="size--xlarge text-bold" style="color: {{ section.settings.color }};">{{ section.settings.title }}</h2>
				</div>
			</div>
			<div class="container contain-width-80">
				<div class="row row-lg">
			  	<div class="page-title__text rte size--normal extra-margin-bottom">
						<p>{{ section.settings.intro }}</p>
					</div>
				</div>
				{% if section.settings.button_text != '' and section.settings.button_link %}
					<div class="row row-med u-center margin-top extra-margin-bottom">
						<a href="{{ section.settings.button_link }}" class="button button--primary inline upcase" title="{{ section.settings.button_text | strip_html }}">{{ section.settings.button_text | strip_html }}</a>
					</div>
				{% endif %}
			</div>        
		</div>
	{% endif %}

	<div class="js-collectionGrid collectionGrid-row row inline row-lg EndlessClick">
      <!--js-collectionGrid collectionGrid-row row inline EndlessClick contain-width-60 margin-auto-->
		{% for block in section.blocks %}
			<div class="collectionBlock js-collectionBlock block s12 sm_s12 lg_s14  is-visible text-center">
				<a href="{{ block.settings.link }}" title="{{ block.settings.title }}"> 
				<img src="{{ block.settings.image | img_url: '500x' }}" alt="{% if block.settings.image.alt != '' %}{{ block.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
				<div class="detail-wrapper">
					{% if block.settings.title != blank %}
						<h3>{{ block.settings.title }}</h3>
					{% endif %}
					{% if block.settings.text != blank %}
						<div class="bold">{{ block.settings.text }}</div>
					{% endif %}
				</div>
				</a>
			</div>
		{% endfor %}
	</div>

</div>

<style>
	.custom-page-row-2 .collectionGrid-row img {
		max-width: 100%;
	}
	.custom-page-row-2 .collectionGrid-row div p {
		color: #000;
	}
	.custom-page-row-2 .collectionGrid-row h3 {
		margin-top:15px;
	}
	.custom-page-row-2 .bow {
		text-align: center;
	}
	.custom-page-row-2 .detail-wrapper {
		margin-bottom: 25px;
	}
	.custom-page-row-2 .accent-image {
		background-image: url({{ section.settings.accent-image | img_url: '300x' }}); 
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px; 
		width: 300px;
		position: absolute;
		top: -30%;
		right: 8%;
	}
	
	@media only screen and (max-width: 769px) {
		.custom-page-row-2 .accent-image {
			top: -13%;
			right: 5%;
			height: 160px;
			width: 230px;
		}
	}
	
	@media only screen and (max-width: 600px) {
		.custom-page-row-2 .accent-image {
			height: 125px;
		    width: 165px;
		    top: -10%;
		    right: 2%;
		}
      
	}
</style>

{% schema %}
{
  "name": "Product Row 2",
"class": "custom-page-row-2",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "intro",
      "label": "Intro text"
    },
		{
      "type": "color",
      "id": "color",
      "label": "Heading color",
      "default": "#000"
    },
		{
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
		{
		   "type": "text",
		   "id": "button_text",
		   "label": "Button text"
		},
		{
		   "type": "url",
		   "id": "button_link",
		   "label": "Button link"
		},
		{
	    "type": "image_picker",
	    "id": "accent-image",
	    "label": "Accent image"
	  }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Product",
      "settings": [
				{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
				{
        	"type": "text",
        	"id": "title",
        	"label": "Title"
       	},
				{
				   "type": "richtext",
				   "id": "text",
				   "label": "Text"
				},
				{
        	"type": "url",
        	"id": "link",
        	"label": "Link"
       	}
      ]
    }
  ]
}
{% endschema %}
