<div class="simple-image-text-module container-wrap featured-product" data-section-type="rich-text">
	<div class="container pad-sm">
		<div class="row row--split">
			{% for block in section.blocks %}
				<div class="rich-content align--left lg_align--left extra-padding" style="background-color: {{ block.settings.bg_color }}; color: {{ block.settings.color }};">
					<div class="max-width{% if block.settings.padding_left %} margin-auto{% endif %}">	
						<h2 class="size--xlarge text-bold" style="color: {{ block.settings.color }};">{{ block.settings.title}}</h2>
						<div class="extra-large">
							<p>{{ block.settings.text }}</p>
						</div>
					</div>
					{% if block.settings.accent_image != blank %}
						<img class="spilt-accent-image padding-top" src="{{ block.settings.accent_image | img_url: '1024x' }}" alt="{% if block.settings.accent_image.alt != '' %}{{ block.settings.accent_image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<style>
	#shopify-section-page-label-contest-text-columns .title-module .row--split, #shopify-section-page-label-contest-text-columns .simple-image-text-module .row--split {
		align-items: flex-start;
	}
	#shopify-section-page-label-contest-text-columns .simple-image-text-module .rich-content p, #shopify-section-page-label-contest-content-blocks .simple-image-text-module .rich-content p {
		font-size: 22px;
		line-height: 1.6em;
	}
</style>	

{% schema %}
{
  "name": "Text Blocks",
  "blocks": [
    {
      "type": "text",
      "name": "Text Block",
      "settings": [
				{
        	"type": "text",
        	"id": "title",
        	"label": "Title"
       	},
				{
				   "type": "textarea",
				   "id": "text",
				   "label": "Text"
				},
		    {
		      "type": "image_picker",
		      "id": "accent_image",
		      "label": "Accent image",
					"info": "Will display underneath text, staggered left or right according to the position of the block"
		    },
				{
				   "type":      "color",
				   "id":        "color",
				   "label":     "Text color",
				   "default":   "#000000"
				},
				{
				   "type":      "color",
				   "id":        "bg_color",
				   "label":     "Background color",
				   "default":   "#f4d2b9"
				},
				{
				   "type": "checkbox",
				   "id": "padding_left",
				   "label": "Add padding left?",
				   "default": false
				}
      ]
    }
  ]
}
{% endschema %}