{% if section.settings.banner != blank %}
	<div id="header_banner" class="featured_image_banner row">							
		<div>
			<img src="{{ section.settings.banner | img_url: '2048x' }}" alt="{% if section.settings.banner.alt != '' %}{{ section.settings.banner.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
		</div>
	</div>
{% endif %}

{% if section.settings.title != '' or section.settings.intro != '' %}
	<div class="page-title extra-padding-top margin-bottom">     
		<div class=" container contain-width-80">
			<div class="row row-lg padding-top">      
		  	<h1 class="page-title__heading size--small" style="color: {{ section.settings.color }};">{{ section.settings.title }}</h1>
			</div>
		</div>
		<div class="container contain-width-80">
			<div class="row row-lg">
		  	<div class="page-title__text rte size--normal margin-bottom">
					<p>{{ section.settings.intro }}</p>
				</div>
			</div>
			{% if section.settings.button_text != '' and section.settings.button_link %}
				<div class="row row-med u-center margin-top margin-bottom">
					<a href="{{ section.settings.button_link }}" class="button button--primary inline upcase" title="{{ section.settings.button_text | strip_html }}">{{ section.settings.button_text | strip_html }}</a>
				</div>
			{% endif %}
		</div>        
	</div>
{% endif %}	

{% for block in section.blocks %}
	<div class="simple-image-text-module container-wrap featured-product" data-section-type="rich-text">
		<div class="container" style="background-color: {{ block.settings.bg_color }};">
			<div class="row row--split row-lg">
				{% if block.settings.image_location == 'left' %}
					<div class="image no-padding-right">
						<a href="{{ block.settings.image | img_url: '1024x' }}" class="collection-image-lightbox">
							<img src="{{ block.settings.image | img_url: '1024x' }}" alt="{% if block.settings.image.alt != '' %}{{ block.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}" class="row--split-feat-image">
						</a>
					</div>
				{% endif %}
				<div class="rich-content no-button align--left lg_align--left padding" style="background-color: {{ block.settings.bg_color }}; color: {{ block.settings.color }};">
					<div class="max-width">	
						<h2 class="size--xlarge text-bold" style="color: {{ block.settings.heading_color }};">{{ block.settings.title }}</h2>
						<div class="extra-large">
							<p>{{ block.settings.text | newline_to_br }}</p>
						</div>
						{% if block.settings.link %}<a href="{{ block.settings.link }}">{% endif %}{% if block.settings.link_title != '' %}{{ block.settings.link_title }}{% endif %}	{% if block.settings.link_image %}<img src="{{ block.settings.link_image | img_url: '150x' }}" class="link-image" alt="{% if block.settings.image.alt != '' %}{{ block.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">{% endif %}{% if block.settings.link %}</a>{% endif %}
					</div>
				</div>
				{% if block.settings.image_location == 'right' %}
					<div class="image no-padding-left">
						<a href="{{ block.settings.image | img_url: '1024x' }}" class="collection-image-lightbox">
							<img src="{{ block.settings.image | img_url: '1024x' }}" alt="{% if block.settings.image.alt != '' %}{{ block.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}

<style>
	.custom-page-intro .title-module .row--split, .custom-page-intro .simple-image-text-module .row--split {
		margin-bottom: 0px !important;
	}
	.custom-page-intro .bodyWrap-spacer {
		padding-top: 130px;
	}
	.custom-page-intro .container {
		max-width: 2500px;
	}
	.custom-page-intro .row--split img {
		width: 100%;
	}
	.no-padding-left {
		padding-left: 0px !important;
	}
	.no-padding-right {
		padding-right: 0px !important;
	}
	a.button.button--primary {
		font-size: 1.8em;
	}
	.custom-page-intro img.link-image {
		width: 50px;
		margin-top: 10px;
		position: relative;
    top: 5px;
	}
	.custom-page-intro span.border-bottom.dark {
		margin-right: 10px;
	}
	.custom-page-intro .featured-product {
		margin-bottom: 0px;
	}
	.custom-page-intro .title-module .row--split, .custom-page-intro .simple-image-text-module .row--split {
		display: flex-end !important;
	}
	.custom-page-intro .simple-image-text-module img.row--split-feat-image {
		margin-top: -15vh;
	}
	{% if section.settings.border-image != blank %}
		.custom-page-intro .simple-image-text-module .container:before {
			content: '';
	    width: 40%;
	    height: 50vh;
			top: 0;
			left: 0;
			background-size: cover;
	    display: block;
	    top: -30vh;
	    position: absolute;
			background-image: url('{{ section.settings.border-image | img_url: '2400x' }}');
		}
		.custom-page-intro .page-title {
			margin-bottom: 15vh !important;
		}
	{% endif %}
	{% if section.settings.border-image-right != blank %}
		.custom-page-intro .simple-image-text-module .container:after {
			content: '';
	    	width: 50%;
	    	height: 20vh;
			top: -6vh;
			right: 0;
			background-size: cover;
	    	display: block;
	   	 	position: absolute;
			background-image: url('{{ section.settings.border-image-right | img_url: '2400x' }}');
		}
	{% endif %}
	{% if section.settings.accent-image != blank %}
		.custom-page-intro .featured-product:after {
			content: '';
	    	width: 150px;
	    	height: 150px;
			z-index: 99;
			top: -50px;
			right: -50px;
			background-size: cover;
	    	display: block;
	    	position: absolute;
			background-image: url('{{ section.settings.accent-image | img_url: '2400x' }}');
		}
	{% endif %}
</style>


{% schema %}
{
  "name": "Intro Content",
	"class": "custom-page-intro",
  "settings": [
		{
	    "type": "image_picker",
	    "id": "banner",
	    "label": "Banner image"
	  },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "intro",
      "label": "Intro text"
    },
		{
      "type": "color",
      "id": "color",
      "label": "Heading color",
      "default": "#000"
    },
		{
		   "type": "text",
		   "id": "button_text",
		   "label": "Button text"
		},
		{
		   "type": "url",
		   "id": "button_link",
		   "label": "Button link"
		},
		{
		   "type": "header",
		   "content": "Optional Design Images"
		},
		{
	    "type": "image_picker",
	    "id": "border-image",
	    "label": "Border image"
	  },
		{
	    "type": "image_picker",
	    "id": "border-image-right",
	    "label": "Border image right"
	  },
		{
	    "type": "image_picker",
	    "id": "accent-image",
	    "label": "Accent image"
	  }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Content Block",
      "settings": [
				{
        	"type": "text",
        	"id": "title",
        	"label": "Title"
       	},
				{
				   "type": "richtext",
				   "id": "text",
				   "label": "Text"
				},
				{
        	"type": "text",
        	"id": "link_title",
        	"label": "Link title"
       	},
				{
        	"type": "url",
        	"id": "link",
        	"label": "Link"
       	},
        {
          "type": "image_picker",
          "id": "image",
          "label": "Main Image"
        },
				{
				   "type": "select",
				   "id": "image_location",
				   "label": "Image location",
				   "options": [
				     {
				       "value": "left",
				       "label": "Left"
				     },
				     {
				       "value": "right",
				       "label": "Right"
				     }
				   ],
				   "default": "left",
				   "info": "Default location is left"
				},
				{
				   "type": "header",
				   "content": "Optional Design Elements"
				},
				{
          "type": "image_picker",
          "id": "link_image",
          "label": "Link image"
        },
				{
		      "type": "color",
		      "id": "heading_color",
		      "label": "Heading color",
		      "default": "#000"
		    },
				{
				   "type":      "color",
				   "id":        "color",
				   "label":     "Text color",
				   "default":   "#000000"
				},
				{
				   "type":      "color",
				   "id":        "bg_color",
				   "label":     "Background color",
				   "default":   "#f4d2b9"
				}
      ]
    }
  ]
}
{% endschema %}