{% if section.settings.banner != blank %}
	<div id="header_banner" class="featured_image_banner row">							
		<div>
			<img src="{{ section.settings.banner | img_url: '2048x' }}" alt="{% if section.settings.banner.alt != '' %}{{ section.settings.banner.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
		</div>
	</div>
{% endif %}

{% if section.settings.image_mobile %}
<div class="image-mobile">
  <img src = "{{ section.settings.image_mobile | img_url: '500x'}}" alt="{% if section.settings.image.alt != '' %}{{ section.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
</div>
{% endif %}

{% for block in section.blocks %}
<div class="simple-image-text-module container-wrap featured-product" data-section-type="rich-text">
	<div class="container pad-sm">
		{% if block.settings.section_background %}
			<div class="color-band" style="background: {{ block.settings.bg_color }};"></div>	
		{% endif %}
		<div class="row row--split row-lg">
			{% if block.settings.image_location == 'left' %}
				<div class="image no-padding-right">
						<img src="{{ block.settings.image | img_url: '1024x' }}" alt="{% if block.settings.image.alt != '' %}{{ block.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
				</div>
			{% endif %}
			<div class="rich-content no-button align--left lg_align--left extra-padding" style="{% unless block.settings.section_background %}background-color: {{ block.settings.bg_color }};{% endunless %} color: {{ block.settings.color }};">
				<div class="max-width">	
					<h2 class="size--xlarge text-extra-bold" style="color: {{ block.settings.color }};">{{ block.settings.title}}</h2>
					<div class="extra-large">
						<p>{{ block.settings.text }}</p>
					</div>
				</div>
			</div>
			{% if block.settings.image_location == 'right' %}
				<div class="image no-padding-left">
						<img src="{{ block.settings.image | img_url: '1024x' }}" alt="{% if block.settings.image.alt != '' %}{{ block.settings.image.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}">
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endfor %}

<style>
  
  .extra-padding{
    padding: 0px 40px 40px 40px;
  }  

/*-----------MOBILE IMAGE--------------*/
  @media only screen and (min-width: 1700px) {
    .image-mobile img{
    display:none;
    }
  
  }
  
  @media only screen and (min-width: 1025px){
    .image-mobile img{
    display:none;
    position: absolute;
    }
    
  }
    
  
    .image-mobile img {
     width:100%;
    
    }  
  
  
  /*-----------END MOBILE IMAGE--------------*/

  .featured_image_banner img{
		display: block;
		width: 100%;
        border-bottom: 5px solid white;
	}

 @media only screen and (max-width: 576px){
        #header_banner img{
        display:none;
        }
      }
	.color-band {
    height: 60%;
    width: 100%;
    position: absolute;
    top: 20%;
	}
	.no-padding-left {
		padding-left: 0px !important;
	}
	.no-padding-right {
		padding-right: 0px !important;
	}
</style>


{% schema %}
{
  "name": "Content Blocks",
	"settings": [
    {
	    "type": "image_picker",
	    "id": "banner",
	    "label": "Banner image"
	  },
	{
 		"type": "image_picker",
		"id": "image_mobile",
		"label": "Image mobile",
		"info": "Desktop image will be used if not set"
     }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Content Block",
      "settings": [
				{
        	"type": "text",
        	"id": "title",
        	"label": "Title"
       	},
				{
				   "type": "textarea",
				   "id": "text",
				   "label": "Text"
				},
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
				{
				   "type":      "color",
				   "id":        "color",
				   "label":     "Text color",
				   "default":   "#000000"
				},
				{
				   "type":      "color",
				   "id":        "bg_color",
				   "label":     "Background color",
				   "default":   "#f4d2b9"
				},
				{
				   "type": "checkbox",
				   "id": "section_background",
				   "label": "Make background color fullwidth?",
				   "default": false,
				   "info": "Will display a color band"
				},
				{
				   "type": "select",
				   "id": "image_location",
				   "label": "Image location",
				   "options": [
				     {
				       "value": "left",
				       "label": "Left"
				     },
				     {
				       "value": "right",
				       "label": "Right"
				     }
				   ],
				   "default": "left",
				   "info": "Default location is left"
				}
      ]
    }
  ]
}
{% endschema %}